<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Health Tracker</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section id="healthapp">
    <header id="heading">
      <h2>Health Tracker</h2>
      <form id="calories-form"><label>Enter a food item: </label><input type="text" id="fooditem" placeholder="Enter food item here"></form>
    </header>
    <section id="main">
      <ul id="food-list"></ul>
    </section>
  </section>

  <script type="text/template" id="item-template">
    <div class="view">
      <p><span>Food item: </span><%- title %><span id ="cals">Calories: </span><%- calories %></p>
      <button class="destroy">Remove</button>
    </div>

  </script>

  <script src="jquery.min.js"></script>
  <script src="underscore-min.js"></script>
  <script src="backbone-min.js"></script>
  <script src="backbone.localStorage-min.js"></script>  
  <script src="app.js"></script>


  
</body>
</html>
