#heading {
	padding-top: 1px;
	background: #e6f2ff;
	color: #000000;
	text-align: center;
}

#calories-form {
	padding-top: 5px;
}

#results-header {
	font-family: cursive;
	margin-bottom: 8px;
}

.food-result {
	padding-bottom: 5px;
}
